/* Reset CSS */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	line-height: 1.6;
	color: #333;
}

/* Container */
.container {
	width: 90%;
	max-width: 1100px;
	margin: auto;
}

/* Header */
header {
	background-color: #4CAF50;
	color: white;
	padding: 20px 0;
	text-align: center;
}

header h1 {
	margin-bottom: 10px;
}

header p {
	font-size: 1.2em;
}

/* Sections */
section {
	padding: 20px 0;
	text-align: center;
}

#about, #skills {
	background-color: #f4f4f4;
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 20px;
	color: #4CAF50;
}

/* List styling */
ul {
	list-style-type: none;
	padding: 0;
}

li {
	background-color: #e2e2e2;
	margin: 5px 0;
	padding: 10px;
	border-radius: 5px;
}

/* Footer */
footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px 0;
	margin-top: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
	header, section, footer {
			padding: 15px;
	}

	h1 {
			font-size: 1.8em;
	}

	h2 {
			font-size: 1.5em;
	}
}
