@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
	font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
	flex-direction: column;
}

.wrapper{
	position: relative;
}

.mainTitle{
	text-align: center;
	position: relative;
	font-size: 3rem;
}

.mainIcon{
	left: 50%;
	transform: translate(-50%, -100%);
	position: absolute;
}


.mainText{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 120%);
	text-align: center;
	width: 100vw;
}

.subtitle{
	position: absolute;
	bottom: 0;
}